/*dependensies css*/
/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
html {color: #333;font-family: Helvetica, sans-serif;height: 100%;width: 100%;margin: 0;padding: 0;}
body {line-height: 1;min-height: 100%;width: 100%;overflow-y: scroll; background: #f0f0f0; margin: 0;padding: 0;height: 100%;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
strong,b {font-weight: bold;}
object {width: 470px;}

* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font: 100%/1.5em Arial,
	sans-serif;
	background: #fff;
	color: #161616;
}


.container {
	width: 940px;
	margin: 0 auto;
}


header {

}

	.top-header {
		overflow: hidden;
		padding: 40px 0 40px 0;
		display: flex;
		-webkit-box-pack: space-between;
		-webkit-justify-content: space-between;
		-ms-flex-pack: space-between;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}

		.top-header .logotype {
			font-family: 'montserratbold';
			font-size: 18px;
			text-transform: uppercase;
			/*float: left;*/
			position: relative;
		/*	margin: 0 0 15px 0;*/
			flex: 1 1 183px;
		}

			.top-header .logotype a {
				text-decoration: none;
			}			

				.top-header .logotype a span {
					color: #555555;
					position: absolute;
					top: 5px;
				}

				.top-header .logotype a img {
					margin: 0 5px 0 0;
				}


		.top-header .navigation {
			flex: 1 1 470px;
			display: flex;
			justify-content: flex-end;
		}

			.top-header .navigation ul {
				display: flex;
				flex-wrap: wrap;
			}

				.top-header .navigation ul li {
					font-family: 'montserratregular';
					font-size: 14px;
					text-transform: uppercase;
					/*float: left;*/
					margin-left: 34px;
				}

					.top-header .navigation ul li a {
						color: #777777;
						text-decoration: none;
						transition: 0.3s;
					}

						.top-header .navigation ul li a:hover {
							font-weight: bold;
						}


	.bottom-header {
		background: url(../images/header-bg.jpg) top center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		text-align: center;
		color: #fff;
		padding: 120px 0 120px 0;
	}

		.bottom-header-content h1 {
			font-family: 'montserratbold';
			font-size: 60px;
			text-transform: uppercase;
			line-height: 1.15;
			margin: 0 0 20px 0;
		}

		.bottom-header-content span {
			font-family: 'RobotoSlabRegular';
			font-size: 20px;
		}

		.bottom-header-content .header-btn {
			margin: 50px auto 0 auto;
		}

		.header-btn {
			display: block;
			text-transform: uppercase;
			font-size: 16px;
			color: #fff;
			text-decoration: none;
			font-family: 'montserratbold';
			border-radius: 80px;
			padding: 17px 0;
			width: 200px;
			text-align: center;
			background: #7cc576;
		}

	.services-content {
		padding: 100px 0 70px 0;
		text-align: center;
	}

		.title {
			color: #222222;
			text-transform: uppercase;
			font-family: 'montserratbold';
			font-size: 40px;
			margin: 0 0 17px 0;
			line-height: 1;
			text-align: center;
		}

		.subtitle {
			color: #777777;
			font-size: 20px;
			font-family: 'RobotoSlabRegular';
			margin: 0 0 90px 0;
			display: block;
			text-align: center;
		}

		.services-content .services-list {
			display: flex;
			flex-wrap: wrap;
		}

			.services-content .services-list .services-item {
				margin: 0 10px 30px 10px;
				flex:1 1 290px;
				padding: 0 20px 0 20px;
			}

				.services-content .services-list .services-item img {
					margin: 0 0 40px 0;
					height: 53px;
				}

				.services-content .services-list .services-item .dark-subtitle {
					margin: 0 0 20px 0;
				}

				.dark-subtitle {
					font-family: 'montserratbold';
					font-size: 18px;
					color: #222222;
					text-transform: uppercase;
				}

				.grey-paragraph {
					font-family: 'RobotoSlabRegular';
					font-size: 14px;
					color: #777777;
				}

.relax {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
}

	.relax-gear {
		background: #e9e9e9 url(../images/relax-gear-bg.png) 100% 50% no-repeat;
		flex: 1 1 226px;
	}

	.relax-content {
		background: url(../images/relax-main-bg.jpg) top center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		flex: 2 1 666px;
		color: #fff;
		padding: 100px 20px 100px 80px;
	}

		.relax-content h1 {
			font-family: 'montserratbold';
			font-size: 40px;
			line-height: 1.1;
			text-transform: uppercase;
			margin: 0 0 45px 0;
		}

		.relax-content h1 .green {
			color: #7cc576;
			display: inline;
		}

		.relax-content .description {
			margin: 0 0 20px 0;
		}

		.description {
			font-family: 'RobotoSlabRegular';
			font-size: 16px;
			display: block;
			color: #cccccc;
		}

			.relax-content .relax-list {
				display: flex;
				flex-direction: column;
				margin: 0 0 36px 0;
			}

			.relax-content .relax-list div {
				margin: 0 0 6px 0;
				position: relative;
			}

				.relax-content .relax-list div img {
					margin: 0 15px 0 0;
				}

				.relax-content .relax-list div span {
					position: absolute;
					top: 7px;
					color: #cccccc;
				}

			.relax-content .header-btn {
				width: 168px;
			}

.latest {
	padding: 100px 0 100px 0;
	background: url(../images/latest-ipad-bg.png) bottom right no-repeat;
}

	.latest-main {
		display: flex;
		/*flex-wrap: nowrap;*/
	}

		.latest-main .latest-void {
			flex: 1 1 20px;
		}

		.latest-main .latest-content {
			flex: 5 1 470px;
		}

			.latest-content .dark-subtitle {
				margin: 0 0 25px 0;
			}

			.latest-content .description {
				color: #777777;
				margin: 0 0 22px 0;
			}

				.latest-list {
					display: flex;
					flex-direction: column;
				}

					.latest-list .latest-list-item {
						
					}

					.latest-list .latest-list-item img,
					.latest-list .latest-list-item div {
						float: left;
					}

					.latest-list .latest-list-item img {
						margin: 0 13px 0 0;
					}

					.latest-list .latest-list-item {
						margin: 0 0 10px 0;
					}

						.latest-list .latest-list-item .latest-list-item-content {
							position: relative;
						}

							.latest-list .latest-list-item .latest-list-item-content .dark-subtitle {
								position: absolute;
							
							}

							.latest-list .latest-list-item .latest-list-item-content .dark-subtitle {
								top: 13px;
								text-transform: none;
							}

							.latest-list .latest-list-item .latest-list-item-content .description {
								margin: 34px 0 0 0;
							}

			.readmore a {
				color: #7cc576;
				text-transform: uppercase;
				font-family: 'montserratbold';
				text-decoration: none;
				transition: 0.3s;
			}

				.readmore a:hover {
					text-decoration: underline;
				}

			.readmore img {
				margin: 0 0 0 3px;
			}

.culture {
	background: #f9f9f9;
	padding: 100px 0 70px 0;
	text-align: center;
}

	.culture .culture-list {
		display: flex;
		flex-wrap:wrap;
	}

		.culture .culture-list .culture-list-item {
			flex: 1 1 290px;
			margin: 0 0 30px 0;
			padding: 0 10px 0 10px;
		}

		.culture .culture-list .culture-list-item-1 {background: url(../images/line.png) 170% 19% no-repeat;}
		.culture .culture-list .culture-list-item-2 {background: url(../images/line.png) 170% 19% no-repeat, url(../images/line.png) -70% 19% no-repeat;}
		.culture .culture-list .culture-list-item-3 {background: url(../images/line.png) -70% 19% no-repeat}

			.culture .culture-list .culture-list-item img {
				margin: 0 0 20px 0;
			}

			.culture .culture-list .culture-list-item .dark-subtitle {
				margin: 0 0 20px 0;
			}

.clients {
	padding: 100px 0 64px 0;
}

.clients-main {
	display: flex;
	justify-content: center;
}

	.clients-content {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		/*width: 80%;*/
	}

		.clients-content .clients-circle {
			width: 220px;
			height: 220px;
			background: #f9f9f9;
			border-radius: 360px;
		}

		.clients-content .clients-circle-1 {
			margin: 0 45px 0 0;
		}

		.clients-content .clients-circle-2 {
			margin: 0 0 0 45px;
		}

		.clients-content .clients-quote {
			padding: 34px 38px;
			background: #f9f9f9;
			height: 151px;
			margin: 35px 0 0 0;
			text-align: center;
			font-family: 'RobotoSlabRegular';
			position: relative;
		}

		.clients-content .clients-quote-2 {
			margin: 35px 0 35px 0;
		}

			.clients-content .clients-quote .triangle {
				width: 21px;
				height: 24px;
				position: absolute;
				top: 62px;
			}

			.clients-content .clients-quote .triangle-1 {
				left: -21px;
				background: url(../images/triangle.png) no-repeat;
			}

			.clients-content .clients-quote .triangle-2 {
				right: -21px;
				background: url(../images/triangle-2.png) no-repeat;
			}

			.clients-content .clients-quote .main-text {
				color: #777777;
				font-size: 22px;
				margin: 0 0 15px 0;
			}

			.clients-content .clients-quote .author-text {
				color: #7cc576;
				font-size: 18px;
			}


.ready {
	background: #7cc576;
	padding: 70px 0;
	text-align: center;
	color: #fff;
}

	.ready h1 {
		font-size: 39px;
		font-family: 'montserratbold';
		text-transform: uppercase;
		margin: 0 0 30px 0;
		line-height: 1;
	}

	.ready .ready-btn {
		border: 3px solid #fff;
		font-family: 'montserratbold';
		text-transform: uppercase;
		padding: 12px 0;
		width: 180px;
		border-radius: 8px;
		display: block;
		margin: 0 auto;
		text-decoration: none;
		font-size: 18px;
		color: #fff;
		transition: 0.3s;
	}

		.ready .ready-btn:hover {
			background: #fff;
			color: #7cc576;
		}

.ready-logotypes {
	padding: 60px 0 40px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

	.ready-logotypes .logo {
		/*flex: 1 1 160px;*/
		display: flex;
		align-items: center;
		margin: 0 0 20px 0;
	}

.top-footer {
	background: #222222;
	padding: 60px 0;
}

	.top-footer .top-footer-list {
		display: flex;
		flex-wrap: wrap;
	}

		.top-footer .top-footer-list .top-footer-list-block {
			/*padding: 0 25px 0 0;*/
		}

		.top-footer .top-footer-list .block-1 {flex: 1 1 210px;}
		.top-footer .top-footer-list .block-2 {flex: 1 1 310px;}
		.top-footer .top-footer-list .block-3 {flex: 1 1 290px;}

			.top-footer .top-footer-list .top-footer-list-block .item {
				display: flex;
				margin: 0 0 8px 0;
			}		

				.top-footer .top-footer-list .top-footer-list-block .dark-subtitle {
					margin: 0 0 26px 0;
					color: #fff;
				}

				.top-footer .top-footer-list .top-footer-list-block .item div {
					margin: 0 15px 0 0;
				}

				.top-footer .top-footer-list .top-footer-list-block .item .description {
					color: #ececec;
				}

footer {

}

	.footer {
		display: flex;
		padding: 30px 0;
		justify-content: space-between;
		flex-wrap: wrap;
	}

		.footer .copyright {
			font-family: 'montserratregular';
			font-size: 14px;
			color: #555555;
			flex: 1 1 260px;
			margin: 8px 0 0 0;
		}

		.footer .social {
			flex: 3 1 270px;			
		}


/*версия для девайсов*/
@media screen and (max-width: 768px) {

	.container {
		width: 85%;
	}

	.clients-circle {
		display: none;
	}

	.footer .social {
		margin: 20px 0 0 0;
	}

	.bottom-header-content h1 {
		font-size: 33px;
	}

	.bottom-header-content span {
		font-size: 13px;
	}

	.bottom-header-content .header-btn {
		margin: 30px auto 0 auto;
	}

	.bottom-header {
		padding: 50px 0 50px 0;
	}

	.header-btn {
		padding: 8px 0;
    	width: 176px;
    	font-size: 12px;
    	transition: 0.3s;
	}

		.header-btn:hover {
			background: #5D9C58;
		}

	.title {
		font-size: 26px;
		margin: 0 0 13px 0;
	}

	.services-content {
		padding: 50px 0 50px 0;
	}

	.subtitle {
		font-size: 15px;
		margin: 0 0 35px 0;
	}

	.services-content .services-list .services-item img {
		margin: 0 0 15px 0;
	}

	.relax-content {
		padding: 50px 20px 50px 44px;
	}

	.relax-content h1 {
		margin: 0 0 25px 0;
	}

	.relax-content .description {
		margin: 0 0 20px 0;
	}

	.description {
		font-size: 14px;
	}

	.relax-content .header-btn {
		width: 168px;
	}

	.header-btn {
		padding: 8px 0;
		font-size: 12px;
		margin: 0 0 0 33px;
	}

	.latest {
		padding: 50px 0 50px 0;
		background: none;
	}

	.culture {
		padding: 50px 0 50px 0;
	}

	.clients {
		padding: 50px 0 50px 0;
	}

	.clients-content .clients-quote {
		height: 230px;
	}

	.clients-content .clients-quote {
		margin: 0 0 11px 0;
	}

	.clients-content .clients-quote .main-text {
		font-size: 15px;
	}

	.clients-content .clients-quote .author-text {
		font-size: 13px;
	}

	.ready {
		padding: 50px 0;
	}

	.ready h1 {
		font-size: 24px;
	}

	.ready .ready-btn {
		padding: 9px 0;
		width: 146px;
		font-size: 13px;
	}

	.culture .culture-list .culture-list-item {
		background: none;
	}

}

@media (min-width: 769px) and (max-width: 992px) {
	
	.container {
		width: 90%;
	}

	.clients-circle {
		display: none;
	}

	.ready-logotypes {
		padding: 40px 0 20px 0;
	}

	.culture .culture-list .culture-list-item {
		background: none;
	}

}


/*все нестандартные шрифты*/
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* font-family: "RobotoSlabRegular"; */
@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}